:root {
    box-sizing: border-box;
    --color-one: #e3ddcb;
    --color-two: #72716f;
    --color-three: #793c89;
    --color-four: #933434;
    --color-five: #19567a;
    --color-six: #3b8a93;
    --color-seven: #cbb8cf;
    --transition-one: all 0.3s ease-in-out;
    --transition-two: all 0.1s ease-in-out;
    height: 100%;
}

body {
    background-color: var(--color-one);
    height: 100%;
}

header {
    background-color: var(--color-four);
    display: grid;
    place-content: center;
    font-family: 'Tilt Neon', cursive;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
}

main {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.container {
    margin-top: 1rem;
    height: 98%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 2px solid black;
    border-left: 2px solid black;
    ;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
}

.project-container {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    border-right: 1px solid black;
    border-radius: 1rem;

}

.header-project {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    transition: var(--transition-one);
    border-bottom: 2px solid black;
    border-radius: 1rem;
}

.header-project:hover {
    background-color: var(--color-three);

}

.header-project h3 {
    grid-column: 2 / 4;
    font-size: 1.4rem;
}

.material-symbols-outlined {
    justify-self: end;
    align-self: center;
    transition: var(--transition-two);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined:hover {
    scale: 1.5;
    color: var(--color-five);
    cursor: grab;
}

.new-project {
    font-size: 1.3rem;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
}

.project {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid black;
}

.title {
    grid-column: 2 / 4;
    transition: all 0.2s ease-in-out;
    cursor: grab;
}

.options {
    justify-self: end;
}

.title:hover {
    text-decoration: underline;
    font-size: 1.5rem;
}

.test-project {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30vh;
    width: 600px;
    background-color: var(--color-seven);
    padding: 1rem;
    border-radius: 10px;
    border: 5px solid var(--color-three);
    display: none;
}

.edit-project {
    width: 30rem;
    height: 10rem;
    position: absolute;
    top: 30%;
    left: 10%;
    background-color: var(--color-seven);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 10px;
    border: 5px solid var(--color-three);
}

.test-project h2 {
    display: inline;
}

.edit-project h2 {
    align-self: center;
    grid-row: 1 / 2;
    margin: 0;
}


.close-one {
    position: absolute;
    right: 1rem;
}

.close-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.test-project form,
.edit-project form {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Tilt Neon', cursive;
}

form label {
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
}

form input {
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--color-three);
}

#color {
    border: 0;
    padding: 0;
}

#color:hover {
    cursor: pointer;
}

button {
    font-family: 'Tilt Neon', cursive;
    font-size: 1rem;
    width: fit-content;
    padding: 0.3rem 1.5rem;
    border-radius: 15px;
    border: 2px solid var(--color-three);
    background-color: black;
    color: white;
}

button:hover {
    border: 2px solid var(--color-six);
    color: var(--color-six);
    cursor: pointer;
}

.faded {
    opacity: 20%;
    pointer-events: none;
}

.error {
    display: none;
    margin-top: 0;
    color: var(--color-five);
}

.hidden-tab {
    display: none;
}

.form-first {
    grid-row: 1 / 2;
}

.form-second {
    grid-row: 2 / 3;
}

.delete,
.done {
    grid-row: 3 / 4;
}

.list-container {
    background-color: var(--color-six);
    grid-column: 2 / 3;
    padding: 2rem;
    border-radius: 1rem;
    border-left: 1px solid black;
}

.list-header {
    display: flex;
}

.list-header h2 {
    flex: 1;
    margin-top: 0;
    font-family: 'Tilt Neon', cursive;
}

.list-container p {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Tilt Neon', cursive;
}

.todo {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.todo label {
    font-size: 1.3rem;
}

.todo input {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
}

.open {
    flex: 1;
}

.open:hover {
    color: var(--color-three);
    text-decoration: underline;
}

.todo-options {
    justify-self: flex-end;
}

.todo-options:hover {
    color: var(--color-four);
}

.todo-description {
    width: 100%;
    height: 15rem;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 110%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 0.3rem;
    border-radius: 5px;
    justify-items: center;
    padding: 0.3rem 0;
}

.todo-description h5 {
    margin: 0.3rem;
    font-size: 1.2rem;
}

.todo-description p {
    font-size: 1rem;
    width: 45ch;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0;
    grid-column: 1 / 2;
}

.hidden {
    display: none;
}